In [3]:
import numpy as np
import pandas as pd

In [10]:
data = pd.read_csv('play_tennis.csv')
data.head()

  day   outlook  temp humidity    wind play
0  D1     Sunny   Hot     High    Weak   No
1  D2     Sunny   Hot     High  Strong   No
2  D3  Overcast   Hot     High    Weak  Yes
3  D4      Rain  Mild     High    Weak  Yes
4  D5      Rain  Cool   Normal    Weak  Yes

In [11]:
data.drop(columns = ['day'],inplace = True)

In [47]:
data['play'].value_counts()

play
Yes    9
No     5
Name: count, dtype: int64

In [18]:
#P(Yes) & P(No)
py = 9/14
pn = 5/14
print(py)
print(pn)

0.6428571428571429
0.35714285714285715

In [20]:
pd.crosstab(data['outlook'],data['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [22]:
Pon = 0/5
Prn = 2/5
Psn = 3/5

Poy = 4/9
Pry = 3/9
Psy = 2/9

In [24]:
pd.crosstab(data['temp'],data['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [26]:
Pcn = 1/5
Phn = 2/5
Pmn = 2/5

Pcy = 3/9
Phy = 2/9
Pmy = 4/9

In [28]:
pd.crosstab(data['humidity'],data['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [30]:
Phin = 4/5
Pnn  = 1/5

Phiy = 3/9
Pny  = 6/9

In [45]:
pd.crosstab(data['wind'],data['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [34]:
Pstn = 3/5
Pwn  = 2/5

Psty = 3/9
Pwy  = 6/9

In [41]:
#Example (Outlook = Sunny, Temp = Hot, Himidity = High, Wind = Weak)
P_Yes = Psy * Phy * Phiy * Pwy * py
P_No =  Psn * Phn * Phin * Pwn * pn

print(P_Yes)
print(P_No)

0.007054673721340387
0.02742857142857143

In [48]:
if P_Yes > P_No:
    print('He will play')
else:
    print('He will not play')

He will not play

In [68]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
data = pd.read_csv('play_tennis.csv');
X = data.drop(columns = ['day','play'])
y = data['play']

In [67]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split

encoder = OneHotEncoder()
X_encoded = encoder.fit_transform(X)
X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, test_size=0.2, random_state=42)