In [2]:
import numpy as np
import pandas as pd

In [38]:
df = pd.read_csv('Iris.csv')

In [39]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [56]:
# remove Id col
df = df.iloc[:,1:]
df.head()

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [19]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [21]:
df['Species'] = encoder.fit_transform(df['Species'])

In [23]:
df.head()

   SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0           3.5            1.4           0.2        0
1           3.0            1.4           0.2        0
2           3.2            1.3           0.2        0
3           3.1            1.5           0.2        0
4           3.6            1.4           0.2        0

In [26]:
new_df = df[df['Species'] != 0][['SepalWidthCm','PetalLengthCm','PetalWidthCm','Species']]

In [28]:
new_df.head()

    SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
50           3.2            4.7           1.4        1
51           3.2            4.5           1.5        1
52           3.1            4.9           1.5        1
53           2.3            4.0           1.3        1
54           2.8            4.6           1.5        1