In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('Iris.csv')

In [5]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [7]:
df = df.iloc[:,1:]
df.head()

   SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0           3.5            1.4           0.2  Iris-setosa
1           3.0            1.4           0.2  Iris-setosa
2           3.2            1.3           0.2  Iris-setosa
3           3.1            1.5           0.2  Iris-setosa
4           3.6            1.4           0.2  Iris-setosa

In [9]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [11]:
df['Species'] = encoder.fit_transform(df['Species'])

In [13]:
df.head()

   SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0           3.5            1.4           0.2        0
1           3.0            1.4           0.2        0
2           3.2            1.3           0.2        0
3           3.1            1.5           0.2        0
4           3.6            1.4           0.2        0

In [15]:
new_df = df[df['Species'] != 0][['SepalWidthCm','PetalLengthCm','PetalWidthCm','Species']]

In [17]:
new_df.head()

    SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
50           3.2            4.7           1.4        1
51           3.2            4.5           1.5        1
52           3.1            4.9           1.5        1
53           2.3            4.0           1.3        1
54           2.8            4.6           1.5        1

In [40]:
X = df.iloc[:,0:2]
y = df.iloc[:,-1]

In [41]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

In [42]:
clf1 = LogisticRegression()
clf2 = RandomForestClassifier()
clf3 = KNeighborsClassifier()

In [43]:
estimators = [('lr',clf1),('rf',clf2),('knn',clf3)]

In [44]:
for estimator in estimators:
    x = cross_val_score(estimator[1],X,y,cv=10,scoring='accuracy')
    print(estimator[0],np.round(np.mean(x),2))

lr 0.95
rf 0.95
knn 0.95

In [30]:
from sklearn.ensemble import VotingClassifier

In [33]:
#Soft voting
vc = VotingClassifier(estimators = estimators,voting = 'soft')
x = cross_val_score(vc,X,y,cv = 10 , scoring = 'accuracy')
print(np.round(np.mean(x),2))

0.95

In [35]:
#Hard Margin
vc = VotingClassifier(estimators = estimators, voting = 'hard')
x = cross_val_score(vc,X,y,cv = 10,scoring = 'accuracy')
print(np.round(np.mean(x),2))

0.95

In [36]:
for i in range(1,4):
    for j in range(1,4):
        for k in range(1,4):
            vc = VotingClassifier(estimators=estimators,voting='soft',weights=[i,j,k])
            x = cross_val_score(vc,X,y,cv=10,scoring='accuracy')
            print("for i={},j={},k={}".format(i,j,k),np.round(np.mean(x),2))

for i=1,j=1,k=1 0.95
for i=1,j=1,k=2 0.95
for i=1,j=1,k=3 0.95
for i=1,j=2,k=1 0.95
for i=1,j=2,k=2 0.95
for i=1,j=2,k=3 0.95
for i=1,j=3,k=1 0.95
for i=1,j=3,k=2 0.95
for i=1,j=3,k=3 0.95
for i=2,j=1,k=1 0.95
for i=2,j=1,k=2 0.95
for i=2,j=1,k=3 0.95
for i=2,j=2,k=1 0.95
for i=2,j=2,k=2 0.95
for i=2,j=2,k=3 0.95
for i=2,j=3,k=1 0.95
for i=2,j=3,k=2 0.95
for i=2,j=3,k=3 0.95
for i=3,j=1,k=1 0.95
for i=3,j=1,k=2 0.95
for i=3,j=1,k=3 0.95
for i=3,j=2,k=1 0.95
for i=3,j=2,k=2 0.95
for i=3,j=2,k=3 0.95
for i=3,j=3,k=1 0.95
for i=3,j=3,k=2 0.95
for i=3,j=3,k=3 0.95

In [46]:
#Applying voting ensemble on same model with different hyper-parameters
from sklearn.svm import SVC

In [53]:
from sklearn.datasets import make_classification
X,y = make_classification(n_samples = 1000,n_features = 20, n_informative = 15, n_redundant = 5, random_state =2)

svm1 = SVC(probability = True, kernel = 'poly', degree = 1)
svm2 = SVC(probability = True, kernel = 'poly', degree = 2)
svm3 = SVC(probability = True, kernel = 'poly', degree = 3)
svm4 = SVC(probability = True, kernel = 'poly', degree = 4)
svm5 = SVC(probability = True, kernel = 'poly', degree = 5)

estimators = [('svm1',svm1),('svm2',svm2),('svm3',svm3),('svm4',svm4),('svm5',svm5)]

for estimator in estimators:
    x = cross_val_score(estimator[1],X,y,cv = 10, scoring = 'accuracy')
    print(estimator[0],np.round(np.mean(x),2))

svm1 0.85
svm2 0.85
svm3 0.89
svm4 0.81
svm5 0.86

In [59]:
vc1 = VotingClassifier(estimators= estimators,voting = 'soft')
x = cross_val_score(vc1, X,y,cv = 10, scoring = 'accuracy')
print(np.round(np.mean(x),4))

0.927